@model dynamic
@{
    ViewBag.Title = "Pass using ViewBag";
}

<h2>Calculation via ViewBag</h2>
<p>
    <ul>
        <li>@ViewBag.A + @ViewBag.B = <b>@ViewBag.Add</b></li>
        <li>@ViewBag.A - @ViewBag.B = <b>@ViewBag.Sub</b></li>
        <li>@ViewBag.A * @ViewBag.B = <b>@ViewBag.Mul</b></li>
        <li>@ViewBag.A / @ViewBag.B = <b>@ViewBag.Div</b></li>
    </ul>
</p>